/* reset configuration */
:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #302952;
    --second-color: #EEF2F3;
    --main-modal-color: #222;
    --second-modal-color:#FBFBFB;
    --container-width: 1200px;
}
html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;/*scroll transitions*/
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    overflow-x: hidden;
}

/* page Style */
header {
    width: 800px;
    background-color: var(--main-color);
    padding: 1.2em;
    margin: 0 auto;
    margin-top: 0.8rem;
}
h1 {
    margin: 0;
    margin-left: 2rem;
    color: var(--second-modal-color);
}
main {
    width: 800px;
    margin: 0 auto;
    background-color: var(--second-color);
    padding: 1rem;
    padding-top: 3em;
    padding-bottom: 8em;
    margin-bottom: 4rem;
}
h2 {
    margin: 0;
}
.div-container {
    background-color: var(--second-modal-color);
    border-radius: 0.4em;
    margin: auto;
    margin-bottom: 0.8em;
    padding: 1rem;
    width: 90%;
}
.div-container ul {
    padding: 1rem;
    position: relative;
    left: 1.2em;
    width: calc(100% - 1.2rem);
}

/* responsive */
@media screen and (max-width: 900px) {
    header,
    main {
        width: 90%;
    }
}
@media screen and (max-width: 520px) {
    h1 {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1rem;
    }
    .div-container ul {
        margin: 0;
        left: 0em;
    }
    li {
        font-size: 0.9rem;
    }
    main {
        padding-top: 1.6em;
    }
}